/* Footer
---------------------------------------------------*/

#footer
{
  	background:rgb(41,194,225);
	color:white;
	text-align:center;
	padding:0;
	
}
#footer .container
{
	padding-top:40px;
	padding-bottom:40px;
}
#footer .footer_topic_head
{
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:1.5px;
	font-weight:600;
	font-family: PIERSANS-LIGHT_0;
	margin-bottom:20px;
}
#footer .btm_block_wid_margin
{
	margin-top:60px;
}
#footer .footer_topic_content
{
	word-break:break-all;
}
#footer .footer_topic_content .social_link a
{
	color:#ffffff;
}
#footer .footer_topic_content .social_link i
{
	font-size:32px;
}
#footer .footer_topic_content .social_link a:hover
{
	color:rgb(33,33,33);
	transition:all ease-in-out 0.3s;
}
#footer .copyright_footer
{
	background:rgb(42,175,220);
	padding:10px;
	font-size:12px;
}
.footer_links
{
	margin:0;
	padding:8px 0;
}
.footer_links li
{
	display:inline-block;
}
.footer_links li a
{
	margin:0px 10px;
	padding:0;
	text-transform:uppercase;
	letter-spacing:1.2px;
	color:#fff;
}
.footer_links li a:hover
{
	color:rgb(33,33,33);
	transition:all ease-in-out 0.3s;
}
.footer_logo img
{
	height:80px;
	width:80px;
}

@media (max-width:475px){

	#footer .container .block
	{
		margin-bottom:40px;
		transition:all ease-in-out 0.3s;
	}
	#footer .container .block:last-child
	{
		margin-bottom:0px;
	}
	.footer_links li a
	{
		font-size:10px;
	}
	#footer .btm_block_wid_margin
	{
		margin-top:0px;
	}
	.footer_logo
	{
		margin-top:30px;
	}

}