/* Footer
---------------------------------------------------*/

#footer
{
  	background:rgb(33,33,33);
	color:white;
	text-align:center;
	padding:0;
	margin-top:30px;
}
#footer .container
{
	padding-top:10px;
	padding-bottom:10px;
}
#footer .container .block
{
	margin-bottom:10px;
	word-break:break-word;
	font-size:14px;
}
#footer .icons_block
{
	margin-bottom:10px;
}
#footer .icons_block  a
{
	color:#ffffff;
	margin:0 10px;
}
#footer .icons_block  a i
{
	font-size:25px;
	padding-top:6px;
	border-radius:50%;
	height:40px;
	width:40px;
	border:2px solid #fff;
}
#footer .icons_block  a:hover
{
	color:rgb(42,175,220);
	transition:all ease-in-out 0.3s;
}
#footer .icons_block  a:hover i
{
	border-color:rgb(42,175,220);
	transition:border-color ease-in-out 0.4s;
}
#footer .copyright_footer
{
	background:rgb(245,245,245);
	color:rgb(33,33,33);
	padding:10px;
	font-size:12px;
}
.footer_links
{
	margin:0;
	padding:8px 0;
	font-size:12px;
}
.footer_links li
{
	display:inline-block;
}
.footer_links li a
{
	margin:0px;
	padding:0 10px;
	text-transform:uppercase;
	letter-spacing:1.2px;
	color:#fff;
	border-right:1px solid #fff;
}
.footer_links li:last-child a
{
	border:none;
}
.footer_links li a:hover
{
	color:rgb(42,175,220);
	transition:all ease-in-out 0.3s;
}
.footer_logo
{
	margin-bottom:15px;
}
.footer_logo img
{
	height:80px;
	width:80px;
}

@media (max-width:475px){

	.footer_links li a
	{
		font-size:10px;
	}

}