.media_blocks .media_block
{
	margin-top:30px;
}
.media_blocks .media_block .image_block
{
	position:relative;
}
.media_blocks .media_block .overlay
{
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.4);
	z-index:111;
}
.media_blocks .media_block .image_block .date
{
	position:absolute;
	left:0;
	top:0;
	background:rgb(42,175,220);
	z-index:222;
	padding:3px 8px;
	color:#fff;
	font-size:11px;
	letter-spacing:1.2px;
}
.media_blocks .media_block .title_block
{
	margin-top:10px;
	color:rgb(33,33,33);
}
.inner_block:hover .overlay
{
	background:transparent;
	transition:all ease-in-out 0.2s;
}

@media (max-width:768px){
	
	.media_publications
	{
		text-align:center;	
	}
	
}