/* team
---------------------------------------------------*/

.team .team_container{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(230,230,230);
}

.team .team_container:last-child{
    border-bottom: none;
}

.team .team_container p{
    margin: 0;
    margin-bottom: 10px;
}

.team .team_container .desc p{
    margin-bottom: 5px;
}

.team .team_container .name{
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 0px;
    color: rgb(42,175,220);
}
.team .team_container .desig{
    font-size: 12pt;
    font-weight: 500;
	color:#000;
}
.team .team_container .desc{
    font-size: 11pt;
	color:rgb(33,33,33);
}



@media (max-width:768px){
	
	.team
	{
		text-align:center;
	}
	.team .head_underline:before
	{
		border-left: none;
	}
	
}